aiosqlite
alembic
annotated-types
anyio
asyncpg
atlastk
attrs
blis
boto3
botocore
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
deprecation
dnspython
ecdsa
email-validator
fastapi
greenlet
h11
h2
hpack
httpcore
httpx
hyperframe
idna
iniconfig
iso8601
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
lxml
Mako
marisa-trie
markdown-it-py
MarkupSafe
mdurl
murmurhash
numpy
packaging
pillow
pluggy
postgrest
preshed
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
Pygments
PyJWT
pypika-tortoise
pytest
pytest-asyncio
python-dateutil
python-dotenv
python-jose
python-multipart
python-pptx
pytz
realtime
referencing
requests
rich
rpds-py
rsa
s3transfer
scikit-learn
scipy
setuptools
shellingham
six
smart_open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
storage3
StrEnum
supabase
supabase-auth
supabase-functions
thinc
threadpoolctl
tortoise
tortoise-orm
tqdm
typer
typing-inspection
typing_extensions
urllib3
uvicorn
wasabi
weasel
websockets
wrapt
xlsxwriter